<table class="errors-list">
                          
    <thead>
        <th>#</th>
        <th>File location</th>
        <th>Error message</th>
    </thead>

    {{#response.dsError.dserror.tterror}}
        <tr>
            <td>{{math @index "+" 1}}</td>
            <td>{{filePath}}</td>
            <td>{{errorMessage}}</td>
        </tr>
    {{/response.dsError.dserror.tterror}}

 </table>