<h3>Field usage report</h3>
{{#response.dsDbFieldFiltered.dsDbFieldFiltered.ttDbFieldFiltered}}
<span>{{math @index "+" 1}}. {{compileUnit}} </span><br>
{{/response.dsDbFieldFiltered.dsDbFieldFiltered.ttDbFieldFiltered}}