{{#response.dsFileFiltered.dsFileFiltered.ttFileFiltered}}
<div class="showLine" id="{{math @index "+" 1}}" onclick="showDetails({{math @index "+" 1}})" title="Click for details"><span>{{math @index "+" 1}}. {{compileUnit}} </span></div>
<br>
{{/response.dsFileFiltered.dsFileFiltered.ttFileFiltered}}