<header>
    <div class="container">
        <div class="row page-header">

            <div class="col-3">
                <h1><a href="/" id="logo">Felix</a></h1>
                <h4>XREF analyser</h4>
            </div>

            <div class="col-9 btn-block">
                <form id="xrefForm">

                    <div class="btn-group d-flex flex-wrap flex-md-nowrap" role="group" id="elements-holder">
                        <div class="btn-group" role="group">
                            <button class="btn elements w-100" id="btn1" type="button">Files</button>
                            <button class="btn elements w-100" id="btn2" type="button">DB structure</button>
                            <button class="btn elements w-100" id="btn3" type="button">Unused</button>
                            <input class="btn w-100 user-guide-btn" id="btn4" name="buser-guide" 
                                    type="button" value="User Guide"
                                    style="background-color: #626060; color:white;">
                        </div>
                    </div>

                    <input id="inpType" type="hidden" name="type" value="0">
                    
                    <div class="input-group" style="margin-top:12px;">
                        <input class="form-control" name="name" id="inpName"
                               placeholder="Please enter name" >

                        <select class="btn btn-dropdown" id="small-dropdown">
                            <option value="All">All</option>
                            <option value="Procedure">Procedure</option>
                            <option value="Class">Class</option>
                            <option value="Include">Include</option>
                        </select>

                        <select class="btn btn-dropdown" id="big-dropdown">
                            <option value="All">All</option>
                            <option value="Access">Access</option>
                            <option value="Update">Update</option>
                            <option value="Delete">Delete</option>
                            <option value="Reference">Reference</option>
                            <option value="Index">Index</option>
                        </select>
				    
                        <div class="w-10" style="margin-left:10px;">
                            <button id="btnReport" class="btn btn-block pull-right">Report</button>
                        </div>

                        <div class="w-10" style="margin-left:10px;">
                            <button id="btnTree" class="btn btn-block pull-right">Tree View</button>
                        </div>     
                    
                        <div id="invFeedbackType" class="invalid-feedback">
                            Please select type.
                        </div>

                        <div id="invFeedbackName" class="invalid-feedback">
                            Please enter name.
                        </div>

                        <div id="invFeedbackSystem" class="invalid-feedback">
                            Please select system.
                        </div>

                        <div id="invFeedbackSystemAndName" class="invalid-feedback">
                            Please select system and name.
                        </div>

                        <div id="invFeedbackNameSystemType" class="invalid-feedback">
                            Please select name, system and type.
                        </div>

                        <div id="invFeedbackTypeAndName" class="invalid-feedback">
                            Please select name and type.
                        </div>
			        </div>
                </form>
            </div>    
        </div>
    </div>
</header>