<div class="col-3">
	            
	            
	<div class="list-group systems-list">
	    <li class="list-group-item" id="list-heading">Available systems</li>
		 {{> systemList}} 
					<button type="submit" class="btn btn-block top-buffer" id="add" name="addSystem" value="new">Add new system</button>

		<div class="card top-buffer">
			<img class="card-img-top" src="http://pvpa.lt/wp-content/uploads/2016/05/BA-logo.jpg" alt="Card image cap">
				<div class="card-body">
				    <p class="card-text">With cutting-edge technologies, the latest delivery models and a 96% recommendation rate among customers, we are able to provide effective business solutions and revenue growth for our clients and partners.</p>
				    <a href="https://www.ba.lt/en/" class="btn">Learn more</a>
				</div>
		</div>
	
	</div> 
</div>