<div class="col-3">
	<div class="list-group systems-list">
	    <li class="list-group-item" id="list-heading">Available systems</li>
		 {{> systemList}} 
		<button type="submit" class="btn btn-block top-buffer" id="add" name="addSystem" value="new">Add new system</button>
		<br>
		<a href="https://www.ba.lt/en/technologies/progress-openedge/"><img class="card-img-top" src="sticker.png"></a>
	</div> 
</div>