<table id="treeTable"> 
    <tr>
        <th>Used by</th><th>Is using</th>
    </tr>
    <tr>
    <td class="vTophCenter" id="treeUsedBy">{{> treeViewUsedBy}}</td>
    <td class="vTophCenter" id="treeIsUsing">{{> treeViewIsUsing}}</td>
    </tr>
</table>