<h3>Based on your entry points, Felix found these files as unused:</h3>

{{#each response.dsUnused.dsUnused.ttUnused}}
<span>{{math @index "+" 1}}. {{fileName}}</span><br>
{{else}}

<div class="unable-to-find">
    <img class="unable-to-find-image" src="felix.gif" alt="Felix">
    <br>
    <h5>Unable to generate report with matching criteria</h5>
</div>

{{/each}}