<div class="user-guide">
	                    <h3>System window overview</h3>
	                    <img class="user-guide-img" src="how_to_one.png" alt="Picture of how-to">
	                        <h5>1. Add new system.<h5>
		                    <p>Add new system for XREF analysis. You are prompted to input system name, 
		                        path to source files and propath, as well as database configuration data.</p>
                            <h5>2. Select from available (added) systems.<h5>
                            <p>Section "Available systems indicates systems or programs with XREF 
                                information prepared for analysis.</p>
                            <p>Error button shows that some files not compiled (press to show error codes)</p>
                            <h5>3. Choose a category.<h5>
                            <p>Choose a category of the element you are searching: file, 
                                a database field or unused elements.</p>
                            <h5>4. Insert name.<h5>
                            <p>Insert a name of the element you are searching. The more correct and specific name 
                                 you enter, the better search results are displayed.</p>
                            <h5>5. Choose a type.<h5>
                            <p>Choose a type of the element you are searching: a procedure, a class, an include, 
                                a database field ("access" or "update" ...), index or unused elements.</p>
                            <h5>6. Choose Report or tree view.<h5>
                            <p>Felix XREF analyser outputs Report and Tree view:
                                "Report" shows all ABL elements which are using the searched element 
                                "Tree View" shows all ABL elements that searched element is using and all ABL elements which are used by seached element. </p>
	                    <h3>Example of adding system</h3>
	                    <img class="user-guide-img" src="how_to_two.png" alt="Picture of how-to">
	                    <h3>Example of file report</h3>
	                    <img class="user-guide-img" src="how_to_three.png" alt="Picture of how-to">
                        <h3>Example of DB field report</h3>
	                    <img class="user-guide-img" src="how_to_six.png" alt="Picture of how-to">
	                    <h3>Example of "Tree View"</h3>
                        <img class="user-guide-img" src="how_to_four.png" alt="Picture of how-to">
                        <h3>Example of unused files</h3>
                        <img class="user-guide-img" src="how_to_five.png" alt="Picture of how-to">
	                </div>